<h1>Welcome to our Commend Angular Workshop!</h1>

<p>Lets start with our ToDo's:</p>

<ol>
    <li>Print out a <code>title</code> from <code>App-Component</code> on this page <span class="h3 text-success">✓</span></li>
    <li>Style title by using Commend Color (<code>rgb(0, 110, 210)</code>)<span class="h3 text-success">✓</span></li>
    <li>Add a <code>ToDo</code> in App-Component and print it on this page too<span class="h3 text-success">✓</span></li>
    <li>Install Boostrap via npm<span class="h3 text-success">✓</span></li>
    <li>Style ToDo by using Bootstrap's table style (<code>https://getbootstrap.com/docs/3.4/css/#tables</code>)</li>
    <li>Make a HTTP-GET request by using <code>ToDoService</code> to <strong>read</strong> all <code>ToDo</code>'s</li>
    <li>Print all <code>ToDo</code>'s on this page</li>
    <li>Make a HTTP-POST request by using <code>ToDoService</code>, such that a new <code>ToDo</code> can be <strong>created</strong></li>
    <li>Make a HTTP-PUT request by using <code>ToDoService</code>, such that <code>ToDo</code> can be <strong>updated</strong></li>
    <li>Make a HTTP-DELETE request by using <code>ToDoService</code>, such that <code>ToDo</code> can be <strong>deleted</strong></li>
    <li>Well done! Style your work, use your imagination!</li>
</ol>
<hr/>

<h1 class="highlight-text">{{title}}</h1>

<table>
    <tr>
        <th>Status</th>
        <th>Description</th>
    </tr>
    <tr *ngFor="let todo of todos">
        <td>{{ todo.status }}</td>
        <td>{{ todo.description }}</td>
    </tr>
</table>
