<h1>Welcome to Commend!</h1>

What we want to do:

<ol>
    <li>Print out a title from App-Component on this page</li>
    <li>Style title by using Commend Color (<code>rgb(0, 110, 210)</code>)</li>
    <li>Add a ToDo in App-Component and print it on this page too</li>
    <li>Style ToDo by using Bootstrap's Grid System (<code>https://getbootstrap.com/docs/3.4/css/#grid-example-basic</code>)</li>
    <li>Request ToDo's from Backend and print them</li>
    <li>Add a edit-button to each ToDo-row, such that each ToDo is editable</li>
    <li>Add a save-button to each ToDo-row, such that each ToDo can be saved</li>
    <li>Add a delete-button to each ToDo-row, such that each ToDo can be removed</li>
    <li>Style your work, use your imagination!</li>
</ol>

